@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aptos';
  src: url('fonts/aptos.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
}

* {
  box-sizing: border-box;
  font-family: 'Aptos', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
